<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>where's my stuff?</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">

<div class="container" ng-show="home.authenticated">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>where's my stuff?</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span ng-show="home.authenticated">
                            <a href="profile"><span ng-bind="home.user"></span></a>
                            <br/>
                            <a href="/login">logout</a>
                        </span>
                        <span ng-show="!home.authenticated">
                            <a href="/login">sign in</a>
                        </span>
                    </div>
                </div>
            </div>

            <h3>create a question</h3>

            <div class="row" style="padding: 1em">
                <div class="panel panel-default">
                    <div class="row" style="padding: 1em">
                        <div class="col-xs-6">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="ctg-select" class="col-xs-2">category:</label>
                                    <div class="col-xs-10">
                                        <select id="ctg-select">
                                            <option th:each="ctg : ${catgs}"
                                                    th:value="${ctg.categoryId}"
                                                    th:text="${ctg.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-xs-2">title:</label>
                                    <div class="col-xs-10">
                                        <textarea style="resize: none" cols="100" rows="1" id="title"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="text" class="col-xs-2">what it's all about:</label>
                                    <div class="col-xs-10">
                                        <textarea style="resize: none" cols="100" rows="10" id="text"></textarea>
                                    </div>
                                </div>

                                <div class="col-xs-10 col-xs-offset-2">
                                    <button class="btn btn-primary" onclick="submitQuestion()">Post your question
                                    </button>
                                    <button id="back" class="btn btn-default"
                                            onclick="window.location.href='/all-questions'">back
                                    </button>
                                </div>

                                <input id='submitted' type="hidden" value="false" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitQuestion() {
        $('textarea').each(function () {
            if (this.value == "") {
                $(this).css('background-color', '#FFB6C1');
                $(this).attr("placeholder", "Must be filled");
                $("#submitted").val(false);
            } else {
                $(this).css('background-color', 'white');
                $(this).attr("placeholder", "Must be filled");
                $("#submitted").val(true);
            }
        });

        if ($("#submitted").val() == "false") return;

        var select = document.getElementById("ctg-select");

        var question = {
            description: document.getElementById("title").value,
            text: document.getElementById("text").value,
            categoryId: select.options[select.selectedIndex].value
        };

        $.ajax({
            url: 'add-question',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(question),
            contentType: 'application/json',
            success: function (data) {
                alert(data.code + ": " + data.message);
                window.location.href = '/'
            }, error: function (data) {
                alert(data.code + ": " + data.message);
            }
        });
    }
</script>

<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular
            .module("app", [])
            .config(
                    function ($httpProvider) {
                        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                    }).controller("home", function ($http, $location) {
        var self = this;
        $http.get("/user").success(function (data) {
            if (data.name) {
                self.user = data.name;
                self.authenticated = true;
            } else {
                self.user = "N/A";
                self.authenticated = false;
            }
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function () {
            $http.post('logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed");
                self.authenticated = false;
            });
        };
    });
</script>
</body>
</html>