<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>where's my stuff?</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>where's my stuff?</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span ng-show="home.authenticated">
                            <a href="#"><span ng-bind="home.user"></span></a>
                        </span>
                        <span ng-show="!home.authenticated">
                            <a href="/login">sign in</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" style="padding: 1em">
                <div class="col-sm-6">
                    <ul>
                        <li style="display: inline">categories:</li>
                        <li style="display: inline"><a href="#">all</a></li>
                        <li style="display: inline" th:each="ctg : ${catgs}">
                            <a href="#" th:text="${ctg.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <form action="add-question-form" method="get" style="margin-right: 16px" class="pull-right">
                        <input class="btn btn-primary" type="submit" value="ask question"/>
                    </form>
                </div>
            </div>
            <div th:each="q : ${quests}">
                <div class="well">
                    <div>
                        <p><span th:text="${q.answers.size()}"></span> answer(s)
                            <a th:href="@{question?id=}+${q.questionId}">
                                <span style="font-size: large; margin-left: 8em" th:text="${q.description}"></span>
                            </a>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">category: <span th:text="${q.category.name}"></span></div>
                        <div class="col-sm-6 text-right">
                            Publish date: <span th:text="${q.date}"></span>
                            <a th:href="@{profile?id=}+${q.user.userId}" th:text="${q.user.username}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular
            .module("app", [])
            .config(
                    function ($httpProvider) {
                        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                    }).controller("home", function ($http, $location) {
        var self = this;
        $http.get("/user").success(function (data) {
            if (data.name) {
                self.user = data.name;
                self.authenticated = true;
            } else {
                self.user = "N/A";
                self.authenticated = false;
            }
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function () {
            $http.post('logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed")
                self.authenticated = false;
            });
        };
    });
</script>

<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>
</body>
</html>