<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>

<body ng-app="app" ng-controller="home as home">
<div class="container">
    <!--    <div>
            With Facebook: <a href="/login/facebook">click here</a>
        </div>-->
    <table class="table">
        <tr>
            <td>
                <div class="form-group">
                    <h1 ng-show="!home.authenticated">login</h1>
                    <h1 ng-show="home.authenticated">logout</h1>

                    <form action="/login/simple" method="post">
                        <div class="form-group"><input type="text" name="username" value="Mathew" placeholder="username"/></div>
                        <div class="form-group"><input type="password" name="password" value="12345" placeholder="password"/></div>
                        <div class="form-group" ng-show="!home.authenticated">
                            <button type="submit" class="btn btn-primary">sign in</button>
                        </div>
                    </form>
                    <div class="form-group" ng-show="!home.authenticated">
                        sign in using <a href="/login/google" class="btn btn-danger">Google</a>
                    </div>
                </div>
                <div class="form-group" ng-show="home.authenticated">
                    <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
                </div>
                <button id="back_" class="btn btn-default" onclick="window.location.href='/all-questions'">back
                </button>
            </td>
            <td>
                <div class="form-group" ng-show="!home.authenticated">
                    <h1 ng-show="!home.authenticated">sign out</h1>
                        <div class="form-group"><input type="text" id="username" placeholder="username"/></div>
                        <div class="form-group"><input type="text" id="email" placeholder="email"/></div>
                        <div class="form-group"><input type="password" id="password" placeholder="password"/></div>
                        <div class="form-group" ng-show="!home.authenticated">
                            <button class="btn btn-primary" onclick="submitProfile()">sign out</button>
                        </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular
            .module("app", [])
            .config(
                    function ($httpProvider) {
                        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                    }).controller("home", function ($http, $location) {
        var self = this;
        $http.get("/user").success(function (data) {
            if (data.name) {
                self.user = data.name;
                self.authenticated = true;
            } else {
                self.user = "N/A";
                self.authenticated = false;
            }
        }).error(function () {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function () {
            $http.post('logout', {}).success(function () {
                self.authenticated = false;
                $location.path("/");
            }).error(function (data) {
                console.log("Logout failed")
                self.authenticated = false;
            });
        };
    });
</script>

<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>

<script>
    function submitProfile() {
        var user = {
            userid: 0,
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
            role: "ROLE_USER",
            pic: ""
        };

        $.ajax({
            url: 'add-user',
            type: 'POST',
            dataType: 'json',
            data: user,
            contentType: 'application/json',
            success: function (data) {
                alert(data.status + ": " + data.message);
            }, error: function () {
                alert(data.status + ": " + data.message);
            }
        });
    }
</script>
</body>
</html>